Earlier in class I gave you all examples of how to scrape data at basketball-reference.com

Now, you need to analyze salary data for each player found in the list of players (pitchers) for that team. As you already know, there's no reference of a player's salary data. This is data we will have to get from somewhere else.

Here is an EXAMPLE link to connect to in order to retrieve salary data: https://www.baseball-reference.com/players/a/aardsda01.shtml.

Once you've completed the first task of creating a data frame, you will need to add 4 new columns to it.
Total Salary: Calculate the cumulative salary each player has earned over their entire careers.
Bats: Show which predominant hand the pitcher bats with
Throws: Show which predominant hand the pitcher throw with
Height: Show height in centimetres (No need to get fancy)

You will get this by using BeautifulSoup4, yet again, to retrieve all this data for the player in question (This is another little nugget you'll have to figure out how to do). Everything you need can be found in the example link above.

This process to build your dataset may take a while because it requires you to essentially connect to a new webpage each time you scrape a player's salary data. Once your data frame is complete answer the following questions:

1. On average, about how much more money do right handed pitchers who bat with their left make than right handed pitchers who bat with their right?
2. On average, about how much more money do left handed pitchers who bat with their left make than left handed pitchers who bat with their right?
3. Compare how much money pitchers who throw with their left make than pitchers who throw with their right.
4. What's the average height for pitchers who throw with their left hands?
5. What's the average height for pitchers who throw with their right hands?
6. Using some form of regression model to determine if there is any correlation between a pitcher's salary and whether they bat left/right, throw left/right and height.

In [1]:
!pip install beautifulsoup4
!pip install requests
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import collections
from bs4 import Comment
from io import StringIO
import sys

Requirement already satisfied: beautifulsoup4 in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (from beautifulsoup4) (2.2.1)
Requirement already satisfied: requests in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/qiuzizhong/opt/anaconda3/envs/jan/lib/python3.9/site-packages (from requests) (1.26.3)

In [2]:
page_mlb = requests.get('https://www.baseball-reference.com/teams/BOS/2020.shtml')
soup = BeautifulSoup(page_mlb.text, 'html.parser')

table = []
for item in soup.find_all(text=lambda text:isinstance(text, Comment)):
    data = BeautifulSoup(item,"html.parser")
    for tr in data.find_all("tr"):
         table.append(tr.find_all(text=True))
        
table[1:10]

[['1',
  '57',
  'Eduardo Rodriguez',
  've',
  ' VE',
  'Pitcher',
  '*',
  '27',
  'L',
  'L',
  '6\' 2"',
  '231',
  'Apr 7, 1993',
  '2010'],
 ['2',
  '0',
  'Adam Ottavino',
  'us',
  ' US',
  'Pitcher',
  '*',
  '34',
  'S',
  'R',
  '6\' 5"',
  '246',
  'Nov 22, 1985',
  '2006'],
 ['3',
  '54',
  'Martin Perez',
  've',
  ' VE',
  'Pitcher',
  '*',
  '29',
  'L',
  'L',
  '6\' 0"',
  '200',
  'Apr 4, 1991',
  '2008'],
 ['4',
  '37',
  'Nick Pivetta',
  'ca',
  ' CA',
  'Pitcher',
  '*',
  '27',
  'R',
  'R',
  '6\' 5"',
  '214',
  'Feb 14, 1993',
  '2013'],
 ['5',
  '63',
  'Darwinzon Hernandez',
  've',
  ' VE',
  'Pitcher',
  '*',
  '23',
  'L',
  'L',
  '6\' 2"',
  '255',
  'Dec 17, 1996',
  '2014'],
 ['6',
  '72',
  'Garrett Whitlock',
  'us',
  ' US',
  'Pitcher',
  '*',
  '24',
  'R',
  'R',
  '6\' 5"',
  '190',
  'Jun 11, 1996',
  '2016'],
 ['7',
  '17',
  'Nathan Eovaldi',
  'us',
  ' US',
  'Pitcher',
  '*',
  '30',
  'R',
  'R',
  '6\' 2"',
  '217',
  'Feb 13, 1990',
  '2008'],
 ['8',
  '43',
  'Garrett Richards',
  'us',
  ' US',
  'Pitcher',
  '*',
  '32',
  'R',
  'R',
  '6\' 2"',
  '210',
  'May 27, 1988',
  '2009'],
 ['9',
  '31',
  'Austin Brice',
  'hk',
  ' HK',
  'Pitcher',
  '*',
  '28',
  'R',
  'R',
  '6\' 4"',
  '238',
  'Jun 19, 1992',
  '2010']]

In [3]:
player_data = pd.DataFrame.from_dict(table)
df = player_data.loc[1:16,player_data.columns[1:14]]
df

,1,2,3,4,5,6,7,8,9,10,11,12,13
1,57,Eduardo Rodriguez,ve,VE,Pitcher,*,27,L,L,"6' 2""",231,"Apr 7, 1993",2010
2,0,Adam Ottavino,us,US,Pitcher,*,34,S,R,"6' 5""",246,"Nov 22, 1985",2006
3,54,Martin Perez,ve,VE,Pitcher,*,29,L,L,"6' 0""",200,"Apr 4, 1991",2008
4,37,Nick Pivetta,ca,CA,Pitcher,*,27,R,R,"6' 5""",214,"Feb 14, 1993",2013
5,63,Darwinzon Hernandez,ve,VE,Pitcher,*,23,L,L,"6' 2""",255,"Dec 17, 1996",2014
6,72,Garrett Whitlock,us,US,Pitcher,*,24,R,R,"6' 5""",190,"Jun 11, 1996",2016
7,17,Nathan Eovaldi,us,US,Pitcher,*,30,R,R,"6' 2""",217,"Feb 13, 1990",2008
8,43,Garrett Richards,us,US,Pitcher,*,32,R,R,"6' 2""",210,"May 27, 1988",2009
9,31,Austin Brice,hk,HK,Pitcher,*,28,R,R,"6' 4""",238,"Jun 19, 1992",2010
10,48,Colten Brewer,us,US,Pitcher,*,27,R,R,"6' 4""",222,"Oct 29, 1992",2012
11,70,Ryan Brasier,us,US,Pitcher,*,32,R,R,"6' 0""",227,"Aug 26, 1987",2007
12,19,Hirokazu Sawamura,jp,JP,Pitcher,*,32,R,R,"6' 0""",212,"Apr 3, 1988",2011
13,38,Josh Taylor,us,US,Pitcher,*,27,L,L,"6' 5""",245,"Mar 2, 1993",2014
14,32,Matt Barnes,us,US,Pitcher,*,30,R,R,"6' 4""",208,"Jun 17, 1990",2010
15,71,Phillips Valdez,do,DO,Pitcher,*,28,R,R,"6' 2""",160,"Nov 16, 1991",2009
16,35,Matt Andriese,us,US,Pitcher,*,30,R,R,"6' 2""",215,"Aug 28, 1989",2010

## Rename Columns...

In [4]:
df.rename(columns={1:"Uni", 2: "Name", 3: "Flag", 4:"Nationality", 
                   5:"Position", 6:"OnActv", 7:"Age", 8:"Bats", 9:"Throws", 
                   10:"Height", 11:"Weight", 12:"DoB", 13:"1stYr"}, inplace=True)

df

,Uni,Name,Flag,Nationality,Position,OnActv,Age,Bats,Throws,Height,Weight,DoB,1stYr
1,57,Eduardo Rodriguez,ve,VE,Pitcher,*,27,L,L,"6' 2""",231,"Apr 7, 1993",2010
2,0,Adam Ottavino,us,US,Pitcher,*,34,S,R,"6' 5""",246,"Nov 22, 1985",2006
3,54,Martin Perez,ve,VE,Pitcher,*,29,L,L,"6' 0""",200,"Apr 4, 1991",2008
4,37,Nick Pivetta,ca,CA,Pitcher,*,27,R,R,"6' 5""",214,"Feb 14, 1993",2013
5,63,Darwinzon Hernandez,ve,VE,Pitcher,*,23,L,L,"6' 2""",255,"Dec 17, 1996",2014
6,72,Garrett Whitlock,us,US,Pitcher,*,24,R,R,"6' 5""",190,"Jun 11, 1996",2016
7,17,Nathan Eovaldi,us,US,Pitcher,*,30,R,R,"6' 2""",217,"Feb 13, 1990",2008
8,43,Garrett Richards,us,US,Pitcher,*,32,R,R,"6' 2""",210,"May 27, 1988",2009
9,31,Austin Brice,hk,HK,Pitcher,*,28,R,R,"6' 4""",238,"Jun 19, 1992",2010
10,48,Colten Brewer,us,US,Pitcher,*,27,R,R,"6' 4""",222,"Oct 29, 1992",2012
11,70,Ryan Brasier,us,US,Pitcher,*,32,R,R,"6' 0""",227,"Aug 26, 1987",2007
12,19,Hirokazu Sawamura,jp,JP,Pitcher,*,32,R,R,"6' 0""",212,"Apr 3, 1988",2011
13,38,Josh Taylor,us,US,Pitcher,*,27,L,L,"6' 5""",245,"Mar 2, 1993",2014
14,32,Matt Barnes,us,US,Pitcher,*,30,R,R,"6' 4""",208,"Jun 17, 1990",2010
15,71,Phillips Valdez,do,DO,Pitcher,*,28,R,R,"6' 2""",160,"Nov 16, 1991",2009
16,35,Matt Andriese,us,US,Pitcher,*,30,R,R,"6' 2""",215,"Aug 28, 1989",2010

## Converting Height from String to Centimeters...

In [5]:
def parse_ht(ht):
    ht_ = ht.split("' ")
    ft_ = float(ht_[0])
    in_ = float(ht_[1].replace('"',''))*0.1
    return (30.48*ft_) + (30.48*in_)

df["Height"] = df["Height"].apply(lambda x:parse_ht(x))
df

,Uni,Name,Flag,Nationality,Position,OnActv,Age,Bats,Throws,Height,Weight,DoB,1stYr
1,57,Eduardo Rodriguez,ve,VE,Pitcher,*,27,L,L,188.976,231,"Apr 7, 1993",2010
2,0,Adam Ottavino,us,US,Pitcher,*,34,S,R,198.120,246,"Nov 22, 1985",2006
3,54,Martin Perez,ve,VE,Pitcher,*,29,L,L,182.880,200,"Apr 4, 1991",2008
4,37,Nick Pivetta,ca,CA,Pitcher,*,27,R,R,198.120,214,"Feb 14, 1993",2013
5,63,Darwinzon Hernandez,ve,VE,Pitcher,*,23,L,L,188.976,255,"Dec 17, 1996",2014
6,72,Garrett Whitlock,us,US,Pitcher,*,24,R,R,198.120,190,"Jun 11, 1996",2016
7,17,Nathan Eovaldi,us,US,Pitcher,*,30,R,R,188.976,217,"Feb 13, 1990",2008
8,43,Garrett Richards,us,US,Pitcher,*,32,R,R,188.976,210,"May 27, 1988",2009
9,31,Austin Brice,hk,HK,Pitcher,*,28,R,R,195.072,238,"Jun 19, 1992",2010
10,48,Colten Brewer,us,US,Pitcher,*,27,R,R,195.072,222,"Oct 29, 1992",2012
11,70,Ryan Brasier,us,US,Pitcher,*,32,R,R,182.880,227,"Aug 26, 1987",2007
12,19,Hirokazu Sawamura,jp,JP,Pitcher,*,32,R,R,182.880,212,"Apr 3, 1988",2011
13,38,Josh Taylor,us,US,Pitcher,*,27,L,L,198.120,245,"Mar 2, 1993",2014
14,32,Matt Barnes,us,US,Pitcher,*,30,R,R,195.072,208,"Jun 17, 1990",2010
15,71,Phillips Valdez,do,DO,Pitcher,*,28,R,R,188.976,160,"Nov 16, 1991",2009
16,35,Matt Andriese,us,US,Pitcher,*,30,R,R,188.976,215,"Aug 28, 1989",2010

## Drop extraneous data...

In [6]:
df.drop(columns=['Flag', 'OnActv', 'Uni'], inplace=True)
df

,Name,Nationality,Position,Age,Bats,Throws,Height,Weight,DoB,1stYr
1,Eduardo Rodriguez,VE,Pitcher,27,L,L,188.976,231,"Apr 7, 1993",2010
2,Adam Ottavino,US,Pitcher,34,S,R,198.120,246,"Nov 22, 1985",2006
3,Martin Perez,VE,Pitcher,29,L,L,182.880,200,"Apr 4, 1991",2008
4,Nick Pivetta,CA,Pitcher,27,R,R,198.120,214,"Feb 14, 1993",2013
5,Darwinzon Hernandez,VE,Pitcher,23,L,L,188.976,255,"Dec 17, 1996",2014
6,Garrett Whitlock,US,Pitcher,24,R,R,198.120,190,"Jun 11, 1996",2016
7,Nathan Eovaldi,US,Pitcher,30,R,R,188.976,217,"Feb 13, 1990",2008
8,Garrett Richards,US,Pitcher,32,R,R,188.976,210,"May 27, 1988",2009
9,Austin Brice,HK,Pitcher,28,R,R,195.072,238,"Jun 19, 1992",2010
10,Colten Brewer,US,Pitcher,27,R,R,195.072,222,"Oct 29, 1992",2012
11,Ryan Brasier,US,Pitcher,32,R,R,182.880,227,"Aug 26, 1987",2007
12,Hirokazu Sawamura,JP,Pitcher,32,R,R,182.880,212,"Apr 3, 1988",2011
13,Josh Taylor,US,Pitcher,27,L,L,198.120,245,"Mar 2, 1993",2014
14,Matt Barnes,US,Pitcher,30,R,R,195.072,208,"Jun 17, 1990",2010
15,Phillips Valdez,DO,Pitcher,28,R,R,188.976,160,"Nov 16, 1991",2009
16,Matt Andriese,US,Pitcher,30,R,R,188.976,215,"Aug 28, 1989",2010

## What's the average height for pitchers who throw with their left hands?
## What's the average height for pitchers who throw with their right hands?

In [7]:
df.groupby(['Throws']).mean()

         Height
Throws
L       189.738
R       191.770

In [8]:
df2 = pd.read_csv('salary.csv')
df2

             Unnamed: 0  2020_salary
0     Eduardo Rodriguez    8300000.0
1         Adam Ottavino    9000000.0
2          Martin Perez    6000000.0
3          Nick Pivetta    1149000.0
4   Darwinzon Hernandez          0.0
5      Garrett Whitlock          0.0
6        Nathan Eovaldi   17000000.0
7      Garrett Richards          0.0
8          Austin Brice          0.0
9          Ryan Brasier          0.0
10    Hirokazu Sawamura          0.0
11          Josh Taylor          0.0
12          JD Martinez   23750000.0
13          Matt Barnes    3100000.0
14      Phillips Valdez          0.0
15        Matt Andriese          0.0

In [9]:
df2.rename(columns={'Unnamed: 0':"Name"}, inplace=True)
df2

                   Name  2020_salary
0     Eduardo Rodriguez    8300000.0
1         Adam Ottavino    9000000.0
2          Martin Perez    6000000.0
3          Nick Pivetta    1149000.0
4   Darwinzon Hernandez          0.0
5      Garrett Whitlock          0.0
6        Nathan Eovaldi   17000000.0
7      Garrett Richards          0.0
8          Austin Brice          0.0
9          Ryan Brasier          0.0
10    Hirokazu Sawamura          0.0
11          Josh Taylor          0.0
12          JD Martinez   23750000.0
13          Matt Barnes    3100000.0
14      Phillips Valdez          0.0
15        Matt Andriese          0.0

In [10]:
df_union = df.merge(df2, how="outer", on="Name")

In [11]:
df_union.fillna(0.0, inplace=True)
df_union

,Name,Nationality,Position,Age,Bats,Throws,Height,Weight,DoB,1stYr,2020_salary
0,Eduardo Rodriguez,VE,Pitcher,27,L,L,188.976,231,"Apr 7, 1993",2010,8300000.0
1,Adam Ottavino,US,Pitcher,34,S,R,198.120,246,"Nov 22, 1985",2006,9000000.0
2,Martin Perez,VE,Pitcher,29,L,L,182.880,200,"Apr 4, 1991",2008,6000000.0
3,Nick Pivetta,CA,Pitcher,27,R,R,198.120,214,"Feb 14, 1993",2013,1149000.0
4,Darwinzon Hernandez,VE,Pitcher,23,L,L,188.976,255,"Dec 17, 1996",2014,0.0
5,Garrett Whitlock,US,Pitcher,24,R,R,198.120,190,"Jun 11, 1996",2016,0.0
6,Nathan Eovaldi,US,Pitcher,30,R,R,188.976,217,"Feb 13, 1990",2008,17000000.0
7,Garrett Richards,US,Pitcher,32,R,R,188.976,210,"May 27, 1988",2009,0.0
8,Austin Brice,HK,Pitcher,28,R,R,195.072,238,"Jun 19, 1992",2010,0.0
9,Colten Brewer,US,Pitcher,27,R,R,195.072,222,"Oct 29, 1992",2012,0.0
10,Ryan Brasier,US,Pitcher,32,R,R,182.880,227,"Aug 26, 1987",2007,0.0
11,Hirokazu Sawamura,JP,Pitcher,32,R,R,182.880,212,"Apr 3, 1988",2011,0.0
12,Josh Taylor,US,Pitcher,27,L,L,198.120,245,"Mar 2, 1993",2014,0.0
13,Matt Barnes,US,Pitcher,30,R,R,195.072,208,"Jun 17, 1990",2010,3100000.0
14,Phillips Valdez,DO,Pitcher,28,R,R,188.976,160,"Nov 16, 1991",2009,0.0
15,Matt Andriese,US,Pitcher,30,R,R,188.976,215,"Aug 28, 1989",2010,0.0
16,JD Martinez,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,23750000.0

In [17]:
df_union.drop(16, axis=0)

,Name,Nationality,Position,Age,Bats,Throws,Height,Weight,DoB,1stYr,2020_salary
0,Eduardo Rodriguez,VE,Pitcher,27,L,L,188.976,231,"Apr 7, 1993",2010,8300000.0
1,Adam Ottavino,US,Pitcher,34,S,R,198.120,246,"Nov 22, 1985",2006,9000000.0
2,Martin Perez,VE,Pitcher,29,L,L,182.880,200,"Apr 4, 1991",2008,6000000.0
3,Nick Pivetta,CA,Pitcher,27,R,R,198.120,214,"Feb 14, 1993",2013,1149000.0
4,Darwinzon Hernandez,VE,Pitcher,23,L,L,188.976,255,"Dec 17, 1996",2014,0.0
5,Garrett Whitlock,US,Pitcher,24,R,R,198.120,190,"Jun 11, 1996",2016,0.0
6,Nathan Eovaldi,US,Pitcher,30,R,R,188.976,217,"Feb 13, 1990",2008,17000000.0
7,Garrett Richards,US,Pitcher,32,R,R,188.976,210,"May 27, 1988",2009,0.0
8,Austin Brice,HK,Pitcher,28,R,R,195.072,238,"Jun 19, 1992",2010,0.0
9,Colten Brewer,US,Pitcher,27,R,R,195.072,222,"Oct 29, 1992",2012,0.0
10,Ryan Brasier,US,Pitcher,32,R,R,182.880,227,"Aug 26, 1987",2007,0.0
11,Hirokazu Sawamura,JP,Pitcher,32,R,R,182.880,212,"Apr 3, 1988",2011,0.0
12,Josh Taylor,US,Pitcher,27,L,L,198.120,245,"Mar 2, 1993",2014,0.0
13,Matt Barnes,US,Pitcher,30,R,R,195.072,208,"Jun 17, 1990",2010,3100000.0
14,Phillips Valdez,DO,Pitcher,28,R,R,188.976,160,"Nov 16, 1991",2009,0.0
15,Matt Andriese,US,Pitcher,30,R,R,188.976,215,"Aug 28, 1989",2010,0.0

## On average, about how much more money do right handed pitchers who bat with their left make than right handed pitchers who bat with their right?
## On average, about how much more money do left handed pitchers who bat with their left make than left handed pitchers who bat with their right?

In [29]:
df_union.groupby(['Throws','Bats']).mean()

                 Height   2020_salary
Throws Bats
0.0    0.0     0.000000  2.375000e+07
L      L     189.738000  3.575000e+06
R      R     191.192727  1.931727e+06
       S     198.120000  9.000000e+06

## Compare how much money pitchers who throw with their left make than pitchers who throw with their right.

In [30]:
df_union.groupby(['Throws']).mean()

         Height  2020_salary
Throws
0.0       0.000   23750000.0
L       189.738    3575000.0
R       191.770    2520750.0

## Using some form of regression model to determine if there is any correlation between a pitcher's salary and whether they bat left/right, throw left/right and height.

In [33]:
df_union.corr(method ='pearson')

               Height  2020_salary
Height       1.000000    -0.730556
2020_salary -0.730556     1.000000